mixin showvideolist(list)
  div 
    ul 
      each videoinfo in list 
        li          
          a(href=`/videos/${videoinfo._id}`) 
            div
              img(src=`/${videoinfo.thumbUrl}`, width="160", height="90") 
              p #{videoinfo.title}
              p #{videoinfo.description}
              small views #{videoinfo.meta.views}
      else 
        li No Contents.

    div(class="album py-5 bg-body-tertiary")
      div(class="container")
        div(class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3")
          each videoinfo in list 
            div(class="col")
              div(class="card shadow-sm")
                svg(class="bd-placeholder-img card-img-top", width="100%", height="225", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: Thumbnail", preserveAspectRatio="xMidYMid slice", focusable="false")
                  title #{videoinfo.title}
                  rect(width="100%", height="100%", fill="#55595c")
                div(class="card-body")
                  p(class="card-text") #{videoinfo.description}
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-body-secondary") 9 mins