extend templates/layout

block content 
    form(method="POST")
        input(name="title", type="text", placeholder="Title", value=`${videoinfo.title}` required)
        input(name="summary", type="text", placeholder="Summary", value=`${videoinfo.summary}` required)
        input(name="year", type="number", placeholder="Year", value=`${videoinfo.year}` required)
        input(name="rating", type="number", placeholder="Rating", value=`${videoinfo.rating}` required)
        input(name="genres", type="text", placeholder="Genres", value=`${videoinfo.genres.join()}` required)
        input(type="submit", value="UPDATE")